<template>
  <v-card fluid
    class="mx-auto"
    :max-width="width"
    :max-height="height"
  >
  <v-container>
    <v-row dense align="center" >
      <v-col class="text-center mx-auto" :cols="colIcon">
        <v-icon :color="color" large>{{icon}}</v-icon>
      </v-col>
      <v-col class="text-center mx-auto font-weight-light title" :cols="colTitle">
         {{information}}
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row dense align="center" >
      <v-col class="text-center headline" :cols="colValue" >
        {{valueTitle}} {{value}}
      </v-col>
    </v-row>
  </v-container>

  </v-card>
</template>

<script>
export default {
  props:['icon','information','value','color','width','height','colIcon','colTitle','colValue','valueTitle']
}
</script>