<template>
  <LayoutBase title="Services">
    <template v-slot:content>
      <v-container class="jumbotron">
        <v-row>
          <v-col cols="12">
            <service-data-table-list tableName="Serviços" btnText="Novo Serviço" btnColor="blue darken-3"/>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </LayoutBase>
</template>

<script>
import LayoutBase from '../../components/LayoutBase'
import ServiceDataTable from './ServiceDataTable'

export default {
  name: 'Services',
  components: {
    LayoutBase,
    'service-data-table-list' :ServiceDataTable
  },
  data: () => ({
    service: {
      name: '',
      time: 15,
      price: 0
    },
    cards: [
      {
        icon: "mdi-account-check",
        color: "green",
        information: "Serviços",
        value: "12"
      },
      {
        icon: "mdi-account-heart-outline",
        color: "red",
        information: "Realizados",
        value: "7"
      }
    ],
    search: '',
    headers: [
      { text: 'Nome', value: 'name'},
      { text: 'Preço', value: 'price' },
      { text: 'Tempo médio', value: 'time' },
    ],
    desserts: [
      {
        name: 'Cabelo',
        price: 'R$ 25,00',
        time: '40 min',
      },
      {
        name: 'Barba',
        price: 'R$ 15,00',
        time: '30 min',
      },
      {
        name: 'Cabelo e Barba',
        price: 'R$ 35,00',
        time: '50 min',
      },
      {
        name: 'Sombrancelha',
        price: 'R$ 15,00',
        time: '15 min',
      }
    ]
  })
}
</script>

<style scoped>

</style>
