<template>
  <LayoutBase title="Dashboard">
    <template v-slot:content>
      <v-container fluid>
        <v-row>
          <v-col v-for="card in cards" v-bind:key="card.information">
            <Card :icon="card.icon" :color="card.color" :information="card.information" 
            :value="card.value" height="220" width="220" colIcon="7" colTitle="12" colValue="12"
            valueTitle="Total: "/>
          </v-col>
        </v-row>
        <v-divider class="mt-5"></v-divider>
        <v-row>
          <schedule></schedule>
        </v-row>
      </v-container>
    </template>
  </LayoutBase>
</template>

<script>
import LayoutBase from '../components/LayoutBase'
import Card from '../components/Cards/Card'
import Schedule from '../components/Schedule'

export default {
  name: 'Dashboard',
  components: {
    LayoutBase,
    Card,
    Schedule
  },
  data: () => ({
    cards: [
      {
        icon: "mdi-account-check",
        color: "green",
        information: "Clientes",
        value: "150"
      },
      {
        icon: "mdi-calendar-clock",
        color: "blue",
        information: "Agendamentos",
        value: "70"
      },
      {
        icon: "mdi-account-heart-outline",
        color: "red",
        information: "Atendimentos",
        value: "30"
      }
    ]
  }), 
  created () {
    if(this.$store.getters.getUser.type == 'ADMIN'){
      this.cards.push({
        "icon": "mdi-cash-usd-outline",
        "color": "green",
        "information": "Caixa",
        "value": "R$ 750.000,00"
      })
    }
  }
}
</script>