<template>
  <v-app id="inspire">
    <v-content>
      <v-container
          class="fill-height"
          fluid
      >
        <v-row
        align="center"
        justify="center"
        >
          <div v-if="showDialog">
            <Loading :dialog="showDialog" />
          </div>
          <v-col class="form-custon"
              cols="12"
              sm="8"
              md="4"
          >
            <v-card class="elevation-12" shaped pa-2>
              <v-toolbar
                color="blue-grey darken-4"
                dark
              >
                <v-toolbar-title >Barber APP</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <div v-if="errorServer">
                  <v-alert dense outlined type="error" :dismissible="true" >
                    {{errorMessage}}
                  </v-alert>
                </div>
                <v-form v-model="valid" ref="form" lazy-validation>
                  <v-text-field
                    label="Email"
                    name="email"
                    type="email"
                    :rules="emailRules"
                    required
                    v-model="user.email"
                  />

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    type="password"
                    :counter="10"
                    maxlength="10"
                    :rules="passwordRules"
                    required
                    v-model="user.password"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions class="padding-custom">
                <v-btn color="green darken-1" @click="login()">Entrar</v-btn>
                <v-spacer />
                <v-btn color="orange darken-4" :to="'/register'">Criar Conta</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Loading from '../components/Loading.vue'

export default {
  props: {
    source: String,
  },
  data: () => ({
    errorServer: false,
    errorMessage: '',
    valid: true,
    showDialog: false,
    user: {
      email:'',
      password: ''
    },
    emailRules:[
      v => !!v || 'E-mail é obrigatório',
      v => /.+@.+/.test(v) || 'E-mail inválido',
    ],
    passwordRules:[
      v => !!v || 'Senha é obrigatória!',
    ]
  }),
  components: {
    Loading: Loading
  },
  methods: {
    login: function(){
      if (!this.$refs.form.validate()) {
        return
      }
      this.resetError()
      this.showDialog = true
      // MOCK
      this.mock();
      var url = 'http://localhost:9091/login/authenticate'
      this.axios.post(url,this.user, { timeout: 7000 }).then((response) => {
        window.console.log(response)
        this.$store.commit('setUser',response.data)
        this.$router.push('/dashboard')
      }).catch((error) => {
        if(error != 'Network Error'){
          this.errorMessage = error
        }
        this.errorServer = true
        window.console.log(error)
        this.showDialog = false
      });
    },
    resetError: function(){
      this.errorServer = false,
      this.errorMessage = 'Por favor tente mais tarde'
    },
    mock(){
      var user = {
        "name":"Gabriel Morais Barbosa",
        "email":"gabrielmbdals@gmail.com",
        "authToken":"$2a$12$OokWeCpiIBj1ugpqfmAgkOz.l7nCdSlt1ZsPF0fIwfa9zbSHNTW7q",
        "company":{"id":3,"name":"Dals - Develop"}
      }
      this.$store.commit('setUser',user)
      this.$router.push('/dashboard')
    },
  }
}
</script>

<style scoped>
#inspire {
  background-image: url('../../public/img/tesoura2-G.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.form-custon{
  opacity: 94%;
}
.padding-custom{
  padding: 30px;
}
</style>