<template>
  <div>
    <v-content>
      <v-container class="fill-height" fluid >
        <v-row align="center" justify="center" >
          <v-col class="form-custon"
            cols="12"
            sm="8"
            md="4"
          >
            <div v-if="showDialog">
              <Loading />
            </div>
            <v-card class="elevation-12" shaped pa-2>
              <v-toolbar
                  color="blue-grey darken-4"
                  dark
              >
                  <v-toolbar-title >Criar Conta</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <div v-if="errorServer">
                  <v-alert dense outlined type="error" :dismissible="true" >
                    {{errorMessage}}
                  </v-alert>
                </div>
                <v-form v-model="valid" ref="form" lazy-validation>
                  <v-row align="center" justify="center">
                    <v-col cols="12">
                      <v-card>
                        <v-card-title>
                          Usuário
                        </v-card-title>
                        <v-card-text>
                          <v-text-field
                            color="success"
                            label="Name"
                            name="name"
                            type="text"
                            :rules="nameRules"
                            required
                            v-model="user.name"
                          />
                          <v-text-field
                            color="success"
                            label="Email"
                            name="email"
                            type="email"
                            :rules="emailRules"
                            required
                            v-model="user.email"
                          />
                          <v-text-field
                            color="success"
                            label="Password"
                            name="password"
                            type="password"
                            :counter="10"
                            maxlength="10"
                            :rules="passwordRules"
                            required
                            v-model="user.password"
                          />
                          <v-text-field
                            color="success"
                            label="Repassword"
                            name="repassword"
                            type="password"
                            :counter="10"
                            maxlength="10"
                            :rules="passwordRules"
                            required
                            v-model="user.repassword"
                          />
                        </v-card-text>
                      </v-card>
                    </v-col>
                  </v-row>
                  <v-row align="center" justify="center">
                    <v-col cols="12">
                      <v-card>
                        <v-card-title>
                          Empresa
                        </v-card-title>
                        <v-card-text>
                          <v-text-field
                            color="success"
                            label="Nome"
                            name="company.name"
                            type="text"
                            :counter="50"
                            maxlength="50"
                            :rules="nameCompanyRules"
                            required
                            v-model="user.company.name"
                          />
                          <v-text-field
                            color="success"
                            label="CNPJ"
                            name="company.cnpj"
                            type="text"
                            :counter="14"
                            maxlength="14"
                            :rules="cnpjCompanyRules"
                            required
                            v-model="user.company.cnpj"
                          />
                        </v-card-text>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-form>
              </v-card-text>
              <v-card-actions class="padding-custom">
                  <v-btn color="red lighten-1" :to="'/'">Voltar</v-btn>
                  <v-spacer />
                  <v-btn color="#43A047" v-on:click="register(user)">Solicitar Acesso</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </div>
</template>

<script>
import Loading from '../components/Loading'

export default {
  data: () => ({
    user: {
      email:'',
      name:'',
      password:'',
      repassword: '',
      company: {
        name: '',
        cnpj: null
      }
    },
    userTypes: [ ],
    icon: '',
    errorServer: false,
    errorMessage: '',
    valid: true,
    showDialog: false,
    emailRules:[
      v => !!v || 'E-mail é obrigatório',
      v => /.+@.+/.test(v) || 'E-mail inválido',
    ],
    passwordRules:[
      v => !!v || 'Senha é obrigatória!',
    ],
    nameRules: [
      v => !!v || 'Nome é obrigatório',
    ],
    nameCompanyRules: [
      v => !!v || 'Nome é obrigatório',
    ],
    cnpjCompanyRules: [
      v => !!v || 'Nome é obrigatório',
    ]
  }),
  methods: {
    register: function(){
      if (!this.$refs.form.validate()) {
        return
      }
      this.resetError()
      var url = 'http://localhost:9091/user/request'
      this.showDialog = true
      this.axios.post(url,this.user, { timeout: 6000 }).then((response) => {
        window.console.log(response);
        this.$router.push('/');
      })
      .catch((error) =>  {
        this.showDialog = false;
        window.console.log(error.response.data.errorMessage);
        if(error != 'Network Error'){
          this.errorMessage = error.response.data.errorMessage
        }
      })
    },
    resetError: function(){
      this.errorServer = false,
      this.errorMessage = 'Por favor tente mais tarde'
    }
  },
  components: {
    Loading: Loading
  }
}
</script> 

<style scoped>
.padding-custom{
    padding: 10px;
}
</style>