<template>
  <LayoutBase title="User">
    <template v-slot:content>
      <v-container fluid>
        USER
      </v-container>
    </template>
  </LayoutBase>
</template>

<script>
import LayoutBase from '../components/LayoutBase'

export default {
  name: 'User',
  components: {
    LayoutBase
  }
}
</script>
