<template>
  <v-app id="inspire" >
    <v-app-bar app color="blue-grey darken-4" dark>
      <v-app-bar-nav-icon @click.stop="menuDrawer()" />
      <v-toolbar-title>{{title}}</v-toolbar-title>
      <v-spacer />
      <div class="title">{{user.name}}</div> 
      <v-divider
        class="ml-4"
        vertical
      ></v-divider> 
      <v-icon @click="exit()" class="pl-4">mdi-logout</v-icon>
    </v-app-bar>
    <div v-if="drawer" >
      <Menu :title="this.$router.currentRoute.name" :ndrawer="drawer" />
    </div>
    <div class="mt-12">
      <slot name="content"></slot>
    </div>
    <Footer />
  </v-app>
</template>

<script>
import Menu from '../components/Menu'
import Footer from '../components/Footer'

export default {
  name: 'LayoutsDemosBaselineFlipped',
  components: {
    Menu,
    Footer
  },
  props: {
    title: String,
  },
  data: () => ({
    user: {
			name:'',
			authToken:''
		},
    drawer: false
  }),
  mounted () {
    this.user = this.$store.getters.getUser
  },
  methods: {
    menuDrawer: (function () {
      this.drawer = !this.drawer
    }),
    exit: (function() {
      this.$router.push('/')
      this.$store.commit('logoff')
      window.console.log(this.$store.getters.getUser)
    })
  }
}
</script>