<template>
  <v-container class="fill-height" fluid >
    <v-row align="center" justify="center" >
      <v-col class="form-custon" cols="12" sm="8" md="4" >
        <v-dialog v-model="dialog" persistent max-width="290">
          <v-card class="elevation-12" shaped pa-2>
            <v-toolbar
                color="blue-grey darken-4"
                dark
            >
                <v-toolbar-title >Criando conta...</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <div class="text-center">
                <v-progress-circular
                  :rotate="360"
                  :size="100"
                  :width="15"
                  :value="value"
                  color="teal"
                >
                  {{ value }}
                </v-progress-circular>
              </div>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    interval: {},
    value: 0,
    dialog: true
  }),
  beforeDestroy () {
    this.interval= {}
  },
  created () {
    this.interval = setInterval(() => {
      if (this.value === 100) {
        return (this.value = 0)
      }
      this.value += 10
    }, 1000)
  }      
}
</script>

<style scoped>
.v-progress-circular {
  margin: 1rem;
}
</style>
