<template>
  <v-navigation-drawer v-model="ndrawer"
      absolute
      temporary>
    <v-list nav shaped>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            {{title}}
          </v-list-item-title>
          <v-list-item-subtitle>
            {{subtitle}}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list-group multiple
        v-for="item in items"
        v-bind:key="item.title"
      >
      <template v-slot:activator>
        <v-list-item-icon>
          <v-icon :color="item.color">{{ item.icon }}</v-icon>
        </v-list-item-icon>
        
        <v-list-item-title @click="callPage(item.to)">{{ item.title }}</v-list-item-title>
      </template>

      <div v-if="item.subLinks">
        <v-list-group 
          v-for="(sub, i) in item.subLinks"
          :key="i"
          sub-group
        >
          <template v-slot:activator >
            <v-list-item-icon>
              <v-icon :color="sub.color">{{ sub.icon }}</v-icon>
            </v-list-item-icon>
            
            <v-list-item-title @click="callPage(sub.to)">{{ sub.title }}</v-list-item-title>
          </template>
        </v-list-group>
      </div>
      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  data () {
    return {
      items: [
        { 
          title: 'Dashboard', 
          icon: 'mdi-view-dashboard',
          color: 'black',
          to: '/dashboard'
        },{ 
          title: 'Usuários', 
          icon: 'mdi-account-group',
          color: 'blue',
          to: '/user',
          subLinks : [
            {
              title: 'Cadastrar',
              icon : 'mdi-plus-thick',
              color: 'blue',
              to: '/user/register'
            }
          ]
        },{ 
          title: 'Serviços', 
          icon: 'mdi-help-box',
          color: 'red',
          to: '/service'
        },{ 
          title: 'Produtos', 
          icon: 'mdi-help-box',
          color: 'yellow',
          to: '/product',
          subLinks : [
            {
              title: 'Cadastrar',
              icon : 'mdi-plus-thick',
              color: 'yellow',
              to: '/product/register'
            }
          ]
        },
      ],
      right: null
    }
  },
  props: {
    title: {
      type: String,
    },
    subtitle: {
      type: String,
      default: ''
    },
    ndrawer: {
      type: Boolean
    }
  },
  methods: {
    callPage: (function(url){
      window.console.log(url)
      this.$router.push(url)
    })
  }
}
</script>
