<template>
  <v-container class="fill-height" fluid >
    <v-row align="center" justify="center" >
      <v-col class="form-custon" cols="12" sm="8" md="4" >
        <v-dialog v-model="dialog" persistent max-width="290">
          <v-card class="elevation-12" shaped pa-2>
            <v-toolbar
                color="blue-grey darken-4"
                dark
            >
                <v-toolbar-title >{{titulo}}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <div class="text-center">
                {{message}}
              </div>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
  }),
  props: ['titulo','message','dialog']    
}
</script>

<style scoped>
.v-progress-circular {
  margin: 1rem;
}
</style>
