<template>
  <v-container >
    <v-row >
      <v-col class="md-6 scheduleMaxSize text-center">
        <section class="headline font-weight-light">Horários</section>
        <v-sheet>
          <v-toolbar flat color="white">
            <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
              Hoje
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn fab text color="indigo" @click="prev">
              <v-icon large>mdi-arrow-left-bold-outline</v-icon>
            </v-btn>
            <v-toolbar-title>{{ title }}</v-toolbar-title>
            <v-btn fab text color="indigo" @click="next">
              <v-icon large>mdi-arrow-right-bold-outline</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-menu bottom right>
              <template v-slot:activator="{ on }">
                <v-btn
                  outlined
                  color="grey darken-2"
                  v-on="on"
                >
                  <span>{{ typeToLabel[type] }}</span>
                  <v-icon right>mdi-menu-down</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item @click="type = 'day'">
                  <v-list-item-title>Dia</v-list-item-title>
                </v-list-item>
                <v-list-item @click="type = 'week'">
                  <v-list-item-title>Semana</v-list-item-title>
                </v-list-item>
                <v-list-item @click="type = 'month'">
                  <v-list-item-title>Mês</v-list-item-title>
                </v-list-item>
                <v-list-item @click="type = '4day'">
                  <v-list-item-title>4 dias</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-toolbar>
          <v-calendar
            ref="calendar"
            locale="pt-BR"
            v-model="focus"
            color="primary"
            interval-count="15"
            first-interval="7"
            :short-months="false"
            :short-weekdays="false"
            :short-intervals="false"
            :events="events"
            :event-color="getEventColor"
            :now="today"
            :type="type"
            @click:event="showEvent"
            @click:more="viewDay"
            @click:date="viewDay"
            @change="updateRange"
          ></v-calendar>
          <v-menu
            v-model="selectedOpen"
            :close-on-content-click="false"
            :activator="selectedElement"
            offset-x
          >
            <v-card
              color="grey lighten-4"
              min-width="340px"
              flat
            >
              <v-toolbar
                :color="selectedEvent.color"
                dark
              >
                <v-btn icon>
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon>
                  <v-icon>mdi-heart</v-icon>
                </v-btn>
                <v-btn icon>
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </v-toolbar>
              <v-card-text>
                <span v-html="selectedEvent.details"></span>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  text
                  color="secondary"
                  @click="selectedOpen = false"
                >
                  Cancelar
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-menu>
        </v-sheet>
      </v-col>
      <v-col class="md-6 scheduleMaxSize text-center" >
        <section class="headline font-weight-light">Novo Agendamento</section>
        <v-card>
          <v-card-text>
            <v-row >
              <v-col md="6" class="pr-2">
                <v-menu offset-y>
                  <template v-slot:activator="{ on }">
                    <v-row>
                      <v-col md="4" class="text-right pr-0">
                        <label class="title font-weight-light">Data:</label>
                      </v-col>
                      <v-col md="7" class="d-flex flex-row pl-1">
                        <v-text-field
                          dense
                          readonly
                          required
                          filled
                          v-model="newSchedule.date"
                          v-on="on">
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </template>
                  <v-date-picker v-model="newSchedule.date" no-title scrollable actions>
                    <template scope="{ save, cancel }">
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                        <v-btn flat color="primary" @click="save">OK</v-btn>
                      </v-card-actions>
                    </template>
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col md="6" class="pl-2">
                <v-menu 
                  offset-y 
                  ref="menuTime"
                  :return-value.sync="newSchedule.hour" 
                  transition="scale-transition"
                  :close-on-content-click="false"
                  :nudge-right="40"
                >
                  <template v-slot:activator="{ on }">
                    <v-row>
                      <v-col md="4" class="text-right pr-0">
                        <label class="title font-weight-light">Hora:</label>
                      </v-col>
                      <v-col md="7" class="d-flex flex-row text-left pl-1">
                        <v-text-field
                          dense
                          readonly
                          filled
                          required
                          v-model="newSchedule.hour"
                          v-on="on">
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </template>
                  <v-row>
                    <v-col class="pa-0 mx-4 mt-4 mt-sm-0">
                      <v-time-picker
                        format="24hr"
                        min="8:00"
                        max="22:00"
                        v-model="newSchedule.hour"
                        full-width
                        @click:minute="$refs.menuTime.save(newSchedule.hour)"
                      >
                      </v-time-picker>
                    </v-col>
                  </v-row>
                </v-menu>
              </v-col>
            </v-row>
            <v-row>
              <v-col md="6">
                <v-row>
                  <v-col md="4" class="text-right pr-0">
                    <label class="title font-weight-light">Cliente:</label>
                  </v-col>
                  <v-col md="7" class="d-flex flex-row text-left pl-1">
                    <v-text-field
                      dense
                      readonly
                      filled
                      value="Silabado"
                      required
                      v-on="on">
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col md="6">
                <v-row>
                  <v-col md="4" class="text-right pr-0">
                    <label class="title font-weight-light">Barbeiro:</label>
                  </v-col>
                  <v-col md="7" class="d-flex flex-row text-left pl-1">
                    <v-text-field
                      dense
                      readonly
                      filled
                      value="Corta Tudo"
                      required
                      v-on="on">
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row>
              <v-col md="6">
                <v-row id="dropdown-example">
                  <v-col md="4" class="text-right pr-0">
                    <label class="title font-weight-light">Serviço:</label>
                  </v-col>
                  <v-col md="7" class="d-flex flex-row text-left pl-1">
                    <v-overflow-btn
                      class="my-2"
                      dense
                      full-width
                      :items="barberServices"
                      target="#dropdown-example"
                    ></v-overflow-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row >
              <v-col md="6">
                <v-btn
                  color="indigo"
                  text
                  elevation="2"
                  @click="saveNewSchedule"
                >
                  Agendar
                </v-btn>
              </v-col>
              <v-col md="6">
                <v-btn
                  color="red lighten-1"
                  text
                  elevation="2"
                  @click="cleanNewSchedule"
                >
                  Limpar
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    focus: '',
    today: null,
    type: 'month',
    typeToLabel: {
      month: 'Mês',
      week: 'Semana',
      day: 'Dia',
      '4day': '4 Dias',
    },
    newSchedule: {
      date: null,
      hour: null,
    },
    barberServices: ['Cabelo','Barba','Cabelo e Barba','Sobrancelha'],
    menu: false,
    modal: false,
    start: null,
    end: null,
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    events: [],
    colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
    names: ['Gabriel', 'Renata', 'Maria', 'Lucian', 'Ithan', 'Loana', 'Leno', 'Wagner'],
    picker: new Date().toISOString().substr(0, 10),
  }),
  computed: {
    title () {
      const { start, end } = this
      if (!start || !end) {
        return ''
      }

      const startMonth = this.monthFormatter(start)
      const endMonth = this.monthFormatter(end)
      const suffixMonth = startMonth === endMonth ? '' : endMonth
      const startYear = start.year
      const endYear = end.year
      const suffixYear = startYear === endYear ? '' : endYear

      const startDay = start.day + this.nth(start.day)
      const endDay = end.day + this.nth(end.day)

      switch (this.type) {
        case 'month':
          return `${startMonth} ${startYear}`
        case 'week':
        case '4day':
          return `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`
        case 'day':
          return `${startMonth} ${startDay} ${startYear}`
      }
      return ''
    },
    monthFormatter () {
      return this.$refs.calendar.getFormatter({
        timeZone: 'UTC', month: 'long',
      })
    },
  },
  mounted () {
    this.$refs.calendar.checkChange()
  },
  methods: {
    viewDay ({ date }) {
      this.focus = date
      this.type = 'day'
    },
    getEventColor (event) {
      return event.color
    },
    setToday () {
      this.focus = this.today
    },
    prev () {
      this.$refs.calendar.prev()
    },
    next () {
      this.$refs.calendar.next()
    },
    showEvent ({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        this.selectedElement = nativeEvent.target
        setTimeout(() => this.selectedOpen = true, 10)
      }

      if (this.selectedOpen) {
        this.selectedOpen = false
        setTimeout(open, 10)
      } else {
        open()
      }

      nativeEvent.stopPropagation()
    },
    updateRange ({ start, end }) {
      this.events = []
      this.events.push({
        name: 'Gabriel',
        start: '2020-2-21 14:00',
        end: '2020-2-21 14:30',
        color: 'blue',
      })

      this.start = start
      this.end = end
    },
    nth (d) {
      return d > 3 && d < 21
        ? 'th'
        : ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'][d % 10]
    },
    rnd (a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a
    },
    cleanNewSchedule () {
      this.newSchedule = {
        "date": null,
        "hour": null
      }
    },
    saveNewSchedule () {

    }
  }
}
</script>

<style scoped>
.scheduleMaxSize {
  max-width: 600px;
  max-height: 500px;
}
</style>